doctype html
html
    head
        title Chessboard

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='style.css')
        script(src='https://cdn.jsdelivr.net/npm/requirejs@2.3.6/require.min.js')
        script(src='bundle.js')
    body
        div
            | Test
        