<!DOCTYPE html>

<html>
  <head>
    <title>Chessboard - Editor</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="style/editor.css">
  </head>
  
  <body>
    <div id="app">

      <div class="upper-section">

        <div class="board">
          <template v-for="(row, inverseRank) in getPosition()">
            <template v-for="(piece, file) in row">
              
              <div class="dark-square" v-if="isDarkSquared(inverseRank, file)">
                <img class="piece" v-if="isPiece(piece)" :src="`svg/${piece}.svg`" draggable="true">
              </div>

              <div class="light-square" v-else>
                  <img class="piece" v-if="isPiece(piece)" :src="`svg/${piece}.svg`" draggable="true">
              </div>

            </template>
          </template>
        </div>

      </div>

    </div>
    
    <script type="module" src="script/editor.js"></script>
  </body>
</html>