<!DOCTYPE html>

<html>
  <head>
    <title>Chessboard - Editor</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="style/editor.css">
  </head>
  
  <body>
    <div id="app">
      <div class="board">

        <template v-for="(row, inverseRank) in getPosition()">
          <template v-for="(square, file) in row">
            
            <div class="dark-square" v-if="isDarkSquared(inverseRank, file)">
              <div class="label-container">
                <div class="file-label">a</div>
              </div>
              <div class="piece-container">
                <img class="piece" src="svg/p.svg" draggable="true">
              </div>
              <div class="label-container">
                <div class="rank-label">1</div>
              </div>
            </div>

            <div class="light-square" v-else>
              <div class="label-container">
                <div class="file-label">a</div>
              </div>
              <div class="piece-container">
                <img class="piece" src="svg/p.svg" draggable="true">
              </div>
              <div class="label-container">
                <div class="rank-label">1</div>
              </div>
            </div>

          </template>
        </template>
        
      </div>
    </div>
    
    <script type="module" src="script/editor.js"></script>
  </body>
</html>