@use 'common';

.board {
    @extend %grid;
    grid-template-columns: repeat(8, min(8vw, 8vh));
    grid-template-rows: repeat(8, min(8vw, 8vh));
}

.light-square {
    background-color: #f9f6d6;
}
    
.dark-square {
    background-color: #c88e3b;
} 

.piece {
    height: 100%;
}