@use 'layout';


$square-size: min(7.5vw, 7.5vh);
$light: #f9f6d6;
$dark: #c88e3b;

.board {
    @extend %grid;
    grid-template-columns: repeat(8, $square-size);
    grid-template-rows: repeat(8, $square-size);
}

%square {
    @extend %perfect-center;
}

.light-square {
    @extend %square;
    background-color: $light;
}
    
.dark-square {
    @extend %square;
    background-color: $dark;
} 

.piece {
    height: 100%;
}
