$chess-light: #f9f6d6
$chess-dark: #c88e3b

.board
    display: grid
    gap: 0 0
    grid-template-columns: repeat(2, max(5vw, 10vh))
    grid-template-rows: repeat(2, max(5vw, 10vh))

.light-square
    background-color: $chess-light
    color: $chess-dark

    display: grid
    gap: 0 0
    grid-template-columns: 10% 80% 10%

.dark-square
    background-color: $chess-dark
    color: $chess-light

    display: grid
    gap: 0 0
    grid-template-columns: 10% 80% 10%

.piece-container
    display: flex
    
.piece
    width: 100%
    object-fit: contain
    justify-content: center
    align-items: center

.label-container
    display: table

.rank-label
    display: table-cell
    vertical-align: top

.file-label
    display: table-cell
    vertical-align: bottom
    