@use 'template'

$square-size: max(6vw, 10vh)

$chess-light: #f9f6d6
$chess-dark: #c88e3b

$label-min-width: 768px


@mixin square($color, $text-color)
    @extend %grid

    background-color: $color
    color: $text-color
    grid-template-columns: 10% 80% 10%

@mixin board-label($align)
    @extend %table-cell
 
    vertical-align: $align
    text-align: center
    font-size: 12px

    @media screen and (max-width: $label-min-width)
        visibility: hidden   

.board
    @extend %grid
    grid-template-columns: repeat(2, $square-size)
    grid-template-rows: repeat(2, $square-size)

.light-square
    @include square($color: $chess-light, $text-color: $chess-dark)
    
.dark-square
    @include square($color: $chess-dark, $text-color: $chess-light)
    
.piece-container
    @extend %flex
    
.piece
    @extend %flex-item-center

    width: 100%
    object-fit: contain

.label-container
    @extend %table

.rank-label
    @include board-label($align: top)

.file-label
    @include board-label($align: bottom)    