@use 'layout';


$square-size: min(7.5vw, 7.5vh);

.board {
    @extend %grid;
    grid-template-columns: repeat(8, $square-size);
    grid-template-rows: repeat(8, $square-size);
}

.light-square {
    background-color: #f9f6d6;
}
    
.dark-square {
    background-color: #c88e3b;
} 

.piece {
    height: 100%;
}
