@use 'font';

$font-size: min(2.4vw, 2.4vh);

.button {
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;

    background-color: #e9e9ed;
    
    text-align: center;
    vertical-align: middle;
    font-size: $font-size;
}

.button:hover {
    cursor: pointer;
}