%grid {
    display: grid;
    gap: 0 0;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
}

.wrapper {
    @extend %flex-center;
}