@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

%font-roboto {
    font-family: 'Roboto', sans-serif;
}

%font-open-sans {
    font-family: 'Open Sans', sans-serif;
}
