@use 'layout';


body {
    background-color: #181818;
}

select:focus {
    outline: none;
}

input[type="text"]:focus {
    outline: none;
    border-color: #a8a8a8;
}

.justify-center {
    @extend %justify-center;
}

.align-center {
    @extend %align-center;
}

.perfect-center {
    @extend %perfect-center;
}
