@use 'layout';
@use 'font';
@use 'text';
@use 'cursor';
@use 'input';


body {
    background-color: #181818;
}

select:focus {
    @extend %no-outline;
}

input[type="text"]:focus {
    @extend %no-outline;
    border-color: #a8a8a8;
}

img {
    @extend %pointer;
}
