@use 'layout';

body {
    background-color: #181818;
}

select:focus {
    outline: none;
}

input:focus {
    outline: none;
    border-color: #0396ff;
}

.justify-center {
    @extend %justify-center;
}

.align-center {
    @extend %align-center;
}

.perfect-center {
    @extend %perfect-center;
}