%grid {
    display: grid;
}

%flex {
    display: flex;
}

%justify-center {
    @extend %flex;
    justify-content: center;
}

%align-center {
    @extend %flex;
    align-items: center;
}

%perfect-center {
    @extend %flex;
    @extend %justify-center;
    @extend %align-center;
}

.justify-center {
    @extend %justify-center;
}

.align-center {
    @extend %align-center;
}

.perfect-center {
    @extend %perfect-center;
}
