%grid {
    display: grid;
    gap: 0 0;
}

%flex {
    display: flex;
}

%justify-center {
    @extend %flex;
    justify-content: center;
}

%align-center {
    @extend %flex;
    align-items: center;
}

%perfect-center {
    @extend %flex;
    justify-content: center;
    align-items: center;
}

%side-container {
    margin: 0 0 0 15px;
}