@use 'global';
@use 'layout';
@use 'board';
@use 'button';
@use 'common';
@use 'font';


%adv-bar {
    text-align: right;
}

.top-adv-bar {
    @extend %adv-bar;
    margin: 8px 0 0 0;
    padding: 0 0 6px 0;
}

.bottom-adv-bar {
    @extend %adv-bar;
    padding: 5px 0 0 0;
}

%adv {
    display: inline-block;

    @extend %font-open-sans;
    font-size: min(2.2vw, 2.2vh);
}

.piece-adv {
    @extend %adv;
    color: #d8d8d8;
}

.point-adv {
    @extend %adv;
    color: #e8e8e8;
    padding: 0 0 0 5px;
}

.fen-container {
    @extend %perfect-center;
    margin: 15px 0 10px 0;
}
