@use 'global';
@use 'board';
@use 'button';
@use 'common';
@use 'font';

%info-bar {
    @extend %font-open-sans;
    font-size: min(2.4vw, 2.4vh);
    text-align: right;
    color: #f0f0f0;
}

.top-adv-bar {
    @extend %info-bar;
    margin: 8px 0 0 0;
    padding: 0 0 5px 0;
}

.bottom-adv-bar {
    @extend %info-bar;
    padding: 6px 0 0 0;
}
