@use 'global';
@use 'board';
@use 'button';

%tray {
    @extend %grid;
    grid-template-columns: repeat(8, board.$square-size);
    grid-template-rows: board.$square-size;

    border: 1px solid transparent;
    border-radius: 4px;

    background-color: #505050;
}

.top-tray {
    @extend %tray;
    margin: 0 0 8px 0;
}

.bottom-tray {
    @extend %tray;
    margin: 8px 0 0 0;
}

.right-container {
    @extend %side-container;
}

%sub-container {
    padding: 1px 0 10px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #c8c8c8;
}

.control-container {
    @extend %sub-container;
    margin: 0 0 15px 0;
}

.option-container {
    @extend %sub-container;
    margin: 15px 0 0px 0;
}

.subsection {
    padding: 10px 0 10px 0;
}

%section-label {
    @extend %font-roboto;
    font-size: min(2.5vw, 2.5vh);
}

.section-label {
    @extend %section-label;
}

%section-text {
    @extend %font-roboto;
    font-size: min(2.4vw, 2.4vh);
}

.section-text {
    @extend %section-text;
}

.form-select {
    @extend %section-text;
    margin: 0 10px 0 10px;
}

.castle-container {
    display: inline-block;
    margin: 0 10px 0 0px;
}

.checkbox-container {
    @extend %section-text;

    display: flex;
    align-items: center;
}

.fen-container {
    @extend %perfect-center;

    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
}

.fen-label {
    @extend %section-label;
    margin: 0 15px 0 0;

    color: #f0f0f0;
}

.fen-input {
    @extend %section-text;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px;

    background-color: #303030;
    color: #f0f0f0;

    width: 100%;
}