@use 'size';
@use 'global';
@use 'common';
@use 'board';
@use 'button';
@use 'text';
@use 'layout';


%tray {
    @extend %grid;
    gap: 0 0;
    grid-template-columns: repeat(size.$size, board.$square-size);
    grid-template-rows: board.$square-size;

    border: 1px solid transparent;
    border-radius: 2px;

    background-color: #787868;
}

.top-tray {
    @extend %tray;
    margin: 0 0 8px 0;
}

.bottom-tray {
    @extend %tray;
    margin: 8px 0 0 0;
}

.form-container {
    padding: 2px 0 10px 10px;
    background-color: #222222;
}

.subsection {
    padding: 8px 0 8px 0;
}

.section-label {
    @extend %label;
}

.section-text {
    @extend %text;
}

.form-select {
    @extend %text;
    margin: 0 10px 0 10px;
    color: black;
}

.castle-container {
    display: inline-block;
    margin: 0 10px 0 0px;
}

.checkbox-container {
    @extend %align-center;
}

.checkbox-text {
    @extend %text;
    color: #d0d0d0;
}

.fen-container {
    @extend %perfect-center;
    margin: 30px 0 0 0;
}

.button-grid {
    @extend %grid;
    gap: 0 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min(4vw, 4vh);

    background-color: #303030;
}

.button-nav {
    @extend %button;
    @extend %text;

    margin: 0 10px 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;

    background-color: #019443;
}

.button-nav:disabled {
    background-color: grey;
}
