@use 'size';
@use 'global';
@use 'common';
@use 'board';
@use 'button';
@use 'text';
@use 'layout';


%tray {
    @extend %grid;
    gap: 0 0;
    grid-template-columns: repeat(size.$size, board.$square-size);
    grid-template-rows: board.$square-size;

    border: 1px solid transparent;
    border-radius: 2px;

    background-color: #6e6e65;
}

.top-tray {
    @extend %tray;
    margin: 0 0 8px 0;
}

.bottom-tray {
    @extend %tray;
    margin: 8px 0 0 0;
}

.clicked {
    // background-color: #07a5e8;
    background-color: #079ede;
}

.form-container {
    padding: 2px 0 10px 10px;
    background-color: #202020;
}

.subsection {
    padding: 8px 0 8px 0;
}

.form-select {
    @extend %text;
    margin: 0 10px 0 10px;
    color: black;
}

.castle-container {
    display: inline-block;
    margin: 0 10px 0 0px;
}

.checkbox-container {
    @extend %align-center;
}

.fen-container {
    @extend %perfect-center;
    margin: 30px 0 0 0;
}

.button-nav {
    @extend %button;
    @extend %text;

    border: 1px solid transparent;
    border-radius: 4px;
    padding: 3px 6px 3px 6px;

    background-color: #019443;
}

.button-nav:disabled {
    background-color: grey;
}

.button-grid {
    @extend %grid;
    gap: 0 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min(3.6vw, 3.6vh);

    background-color: #303030;
}

.button-container {
    // @extend %table;
    text-align: center;
}

.button-control {
    @extend %button;
    @extend %text;
    // @extend %table-cell;

    border: none;
    padding: 0;
    
    background-color: transparent;
}
