div.board
    div.light-sq
        div.rank-label.invisible 2
        div.piece-container
            img.piece(src='svg/wP.svg')
        div.file-label.invisible a
    div.dark-sq
        div.rank-label 2
        div.piece-container
            img.piece(src='svg/wB.svg')
        div.file-label.invisible b
    div.dark-sq
        div.rank-label.invisible 1
        div.piece-container
            img.piece(src='svg/wN.svg')
        div.file-label a
    div.light-sq
        div.rank-label 1
        div.piece-container
            img.piece(src='svg/wR.svg')
        div.file-label b