div.board
    div.light-square
        div
        div.piece-container
            img.piece(src='svg/wP.svg')
        div
    div.dark-square
        div
        div.piece-container
            img.piece(src='svg/wB.svg')
        div.label-container
            div.rank-label 2
    div.dark-square
        div.label-container
            div.file-label a
        div.piece-container
            img.piece(src='svg/wN.svg')
        div
    div.light-square
        div.label-container
            div.file-label b
        div.piece-container
            img.piece(src='svg/wR.svg')
        div.label-container
            div.rank-label 1
        