<div class="board">
    <div class="light-square">
        <div></div>
        <div class="piece-container"><img class="piece" src="svg/wP.svg"></div>
        <div></div>
    </div>
    <div class="dark-square">
        <div></div>
        <div class="piece-container"><img class="piece" src="svg/wB.svg"></div>
        <div class="label-container">
        <div class="rank-label">2</div>
        </div>
    </div>
    <div class="dark-square">
        <div class="label-container">
        <div class="file-label">a</div>
        </div>
        <div class="piece-container"><img class="piece" src="svg/wN.svg"></div>
        <div></div>
    </div>
    <div class="light-square">
        <div class="label-container">
        <div class="file-label">b</div>
        </div>
        <div class="piece-container"><img class="piece" src="svg/wR.svg"></div>
        <div class="label-container">
        <div class="rank-label">1</div>
        </div>
    </div>
</div>